<!DOCTYPE html>
<html>
<head>
    <title>Creditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Práctica realizada por: Alvaro Cepeda Zamorano y Alvaro Morso Granero</h1>
<a href="/">Inicio</a>
<a href="/quizzes">Quizzes</a><br><br>
<img src="https://i.imgur.com/1sNE1eX.jpg"/>
</body>
</html>
