<h1>Author</h1>

<p>
    Página Web creada por ALVARO CEPEDA ZAMORANO Y ALVARO MORSO GRANERO.
</p>

<img src="http://i0.kym-cdn.com/photos/images/original/000/230/393/5d0.gif" width="200" />

<hr />

<div>
    <img src="/images/logos/ditupm.gif" width="8%"/>
    <img src="/images/logos/UPM.jpog" width="8%"/>
    <img src="/images/logos/nodejs.png" width="8%"/>
    <img src="/images/logos/npm.png" width="8%"/>
    <img src="/images/logos/sequelize.png" width="8%"/>
    <img src="/images/logos/SQLite.png" width="8%"/>
    <img src="/images/logos/express.png" width="8%"/>
    <img src="/images/logos/cloudinary.png" width="8%"/>
    <img src="/images/logos/heroku.png" width="8%"/>
    <img src="/images/logos/postgres.png" width="8%" />
</div>